DirectoryIndex index.php
RewriteEngine On
RewriteRule ^home$ index.php?page=home
RewriteRule ^home-([0-9]+)$ index.php?page=home&id=$1
RewriteRule ^ciment$ index.php?page=ciment
RewriteRule ^presentation$ index.php?page=presentation
RewriteRule ^contact$ index.php?page=contact
RewriteRule ^login$ index.php?page=login
RewriteRule ^signin$ index.php?page=signin
RewriteRule ^logout$ index.php?page=logout
RewriteRule ^modifprofil$ index.php?page=modifprofil
RewriteRule ^admindash$ index.php?page=admindash
RewriteRule ^addcategorie$ index.php?page=addcategorie
RewriteRule ^addcategorie-([0-9]+)$ index.php?page=addcategorie&id=$1
RewriteRule ^editcategorie$ index.php?page=editcategorie
RewriteRule ^editcategorie-([0-9]+)$ index.php?page=editcategorie&id=$1
RewriteRule ^addproduct$ index.php?page=addproduct
RewriteRule ^editproduct$ index.php?page=editproduct
RewriteRule ^editproduct-([0-9]+)$ index.php?page=editproduct&id=$1
RewriteRule ^admin$ index.php?page=admin
RewriteRule ^admin-([0-9]+)$ index.php?page=admin&id=$1
RewriteRule ^detailproduct$ index.php?page=detailproduct
RewriteRule ^detailproduct-([0-9]+)$ index.php?page=detailproduct&id=$1
RewriteRule ^panier$ index.php?page=panier
RewriteRule ^panier-([0-9]+)$ index.php?page=panier&id=$1
RewriteRule ^panier-([a-zA-Z]+)-([0-9]+)$ index.php?page=panier&req=$1&id=$2
RewriteRule ^panier-([a-zA-Z]+)-([0-9]+)-([0-9]+)$ index.php?page=panier&req=$1&id=$2&url=$3
RewriteRule ^deletepanier$ index.php?page=deletepanier
RewriteRule ^deletepanier-([0-9]+)$ index.php?page=deletepanier&id=$1
RewriteRule ^viderpanier$ index.php?page=viderpanier
RewriteRule ^commande$ index.php?page=commande
RewriteRule ^commandes$ index.php?page=commandes
RewriteRule ^user$ index.php?page=user
RewriteRule ^user-([0-9]+)$ index.php?page=user&id=$1
RewriteRule ^locked$ index.php?page=user
RewriteRule ^locked-([0-9]+)$ index.php?page=locked&id=$1
RewriteRule ^unlocked$ index.php?page=unlocked
RewriteRule ^unlocked-([0-9]+)$ index.php?page=unlocked&id=$1
RewriteRule ^reset$ index.php?page=reset
RewriteRule ^truelle$ index.php?page=truelle
RewriteRule ^brique$ index.php?page=brique
RewriteRule ^brouette$ index.php?page=brouette
RewriteRule ^pelle$ index.php?page=pelle
RewriteRule ^avis$ index.php?page=avis
RewriteRule ^avis-([0-9]+)$ index.php?page=avis&id=$1