*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body{
    margin: 0;
}
a, h1, h2, h3, p{
    text-decoration: inherit;
    color: inherit;
}
.container{
    background-color: #ecfff9
}
.container .navbar{
    height: 60px;
    background-color: #009e69;
    margin-bottom: 15px;
    color: #fff;
}
.navbar .limiter{
   display: flex;
   max-width: 1400px;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}
.search input, .search button{
    height: 30px;
    width: 400px;
    padding: 0 15px;
    background-color: #006c48;
    border: none;
    color: #fff;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
}
.search button{
    border-radius: 0 15px 15px 0;
    width: 40px;
    text-align: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.search button:hover{
    background-color: #005539;
}
input::placeholder{
    color: #fff;
}
.limiter .userT{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 12px;
}
.userT .userImg{
    margin: 0 10px;
    cursor: pointer;
}
.userT .logout{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #005539;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mainApp .limiter{
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
 }

 .limiter .aboutCourse{
     min-width: 250px;
     margin-right: 15px;
     position: fixed;
 }
 .aboutCourse .items{
     width: 250px;
     height: 300px;
     border-radius: 15px;
     padding: 15px;
     color: #fff;
     overflow: hidden;
     background-color: #009e69;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .items span{
     margin: 5px 0;
 }
 .items .active{
     color: #005539;
     font-weight: bold;
 }
 .aboutCourse h2{
     margin: 5px 0;
     text-align: center;
     font-weight: bold;
 }
 .aboutCourse h3{
     margin: 5px 0;
     text-align: center;
     font-size: 16px;
     color: #009e69;
 }
 .limiter .courseItem{
     margin-left: 300px;
 }
 .courseItem .title{
     font-weight: bold;
     color: #005539;
     margin-bottom: 10px;
 }
 .courseItem .toNext{
     cursor: pointer;
     margin: 15px 0;
     display: flex;
     font-size: 10px!important;
     align-items: center;
     justify-content: center;
     border-radius: 25px;
     width: 320px;
     background-color: #009e69;
     color: #fff;
     transition: all .5s ease-in-out;
 }
 .toNext:hover{
    background-color: #005539;
 }
 .toNext span{
     margin-left: 10px;
     font-size: 20px;
 }